$prefix: 'nt-';

$nt-light: white;
$nt-light-blue: #007bff;
$nt-blue: #3569e7;
$nt-light-gray: #fcfcfd;
$nt-gray: #677993;
$nt-dark: #273952;
$nt-transition-base: .2s linear;
$nt-green: #1fbe56;
$nt-light-green: #e8f8ee;

$fixed-padding:15px;

$scroll-color: #3569e7;

// Grid-breakpoints

$grid-breakpoints: (
        xs: 0,
        sm: 540px,
        md: 720px,
        lg: 960px
);

// Font-size

$font-size-function: (
 11: 11px, 
);

// Font-size Responsive

$font-size-responsive-function: (
20: 22px, 
);

// Background Color

$background-color: (
       red: red,
      green: green,
);

// Font Color

$font-color: (
        blue: $nt-blue,
        red: red,
);

// Border Radius

$border-radius: (
        4: 4px,
        16: 16px,
);

 // Mixin

@mixin transition($transition) {
  transition: $transition;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

// Font Size Generation

@each $name, $value in $font-size-function {
  .#{$prefix}font-size-#{$name} {
    font-size: $value;
  }
}

@each $size, $break-point in $grid-breakpoints {
  @media screen and (min-width: #{$break-point}) {
    @each $name, $value in $font-size-responsive-function {
      .#{$prefix}font-size-#{$size}-#{$name} {
        font-size: $value;
      }
    }
  }
}

// Width / Height Generator

$starterSize: 0;
$size: ("w": "width", "h": "height");

@each $name, $value in $size {
  @for $i from 0 through 4 {
    .#{$prefix}#{$name}-#{25 * $i} {
      #{$value}: $starterSize +(25% * $i);
    }
  }
}

// Spacers Generator

$starter: 0.25;
$spacer: ("m": "margin", "p": "padding");

$spacerDirection: ("l":"-left", "r":"-right", "t":"-top", "b":"-bottom");

$var: true !default;
$generated-name: auto !default;

@each $name, $value in $spacer {
  @for $i from 0 through 5 {
    @if $var == true {
      $generated-name: 0 auto;
    } @else {
      $generated-name: $starter * $i + 0rem;
    }
    .#{$prefix}#{$name}-#{$i} {
      #{$value}: $generated-name!important;
    }

    @each $direction, $dValue in $spacerDirection {
      .#{$prefix}#{$name}#{$direction}-#{$i} {
        #{$value}#{$dValue}: $generated-name!important;;
      }
    }
    $var: false;
  }
  $var: true;
}

@each $size, $break-point in $grid-breakpoints {
  @media screen and (min-width: #{$break-point}) {
    $var: true !default;
    $generated-name: auto !default;

    @each $name, $value in $spacer {
      @for $i from 0 through 5 {
        @if $var == true {
          $generated-name: 0 auto;
        } @else {
          $generated-name: $starter * $i + 0rem;
        }
        .#{$prefix}#{$name}-#{$size}-#{$i} {
          #{$value}: $generated-name!important;
        }
        @each $direction, $dValue in $spacerDirection {
          .#{$prefix}#{$name}#{$direction}-#{$size}-#{$i} {
            #{$value}#{$dValue}: $generated-name!important;
          }
        }
        $var: false;
      }
      $var: true;
    }
  }
}

// Display Generator

$display-type: (flex, block, inline, none);

@each $size, $break-point in $grid-breakpoints {
  @media screen and (min-width: #{$break-point}) {
    @each $name in $display-type {
      @if $size == 'xs' {
        .#{$prefix}d-#{$name} {
          display: $name !important;
        }
      } @else {
        .#{$prefix}d-#{$size}-#{$name} {
          display: $name !important;
        }
      }
    }
  }
}

// Overflow Generator

$overflow-state: (hidden, visible, auto);
$overflow: ("-x": $overflow-state, "-y": $overflow-state, "": $overflow-state
);

@each $state-second-name, $state-values in $overflow {
  @each $value in $state-values {
    .#{$prefix}overflow-#{$value}#{$state-second-name} {
      overflow#{$state-second-name}: $value !important;
    }
  }
}

// Background Generator

@each $name, $value in $background-color {
  .#{$prefix}bg-#{$name} {
    background-color: $value;
  }
}

// Font Generator

@each $name, $value in $font-color {
  .#{$prefix}font-color-#{$name} {
    color: $value;
  }
}

// Text Align Generator

$text-align-variants: (left, center, right) !default;

@each $value in $text-align-variants {
  .#{$prefix}text-align-#{$value} {
    text-align: $value;
  }
}

// Border Radius Generator

.#{$prefix}circle {
  @include border-radius(50%)
}

@each $name, $value in $border-radius {
  .#{$prefix}border-radius-#{$name} {
    @include border-radius($value)
  }
}

// Flex Align/Justify Generator

// Flex Grow/Shrink Generator

// Helper Class's

*[class^="nt-"], *[class^="nt-"] p, *[class^="nt-"] h1, *[class^="nt-"] h2 {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.#{$prefix}pointer {
  cursor: pointer;
}

.#{$prefix}btn {
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  height: 40px;
}

.#{$prefix}user-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.#{$prefix}ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.#{$prefix}visible {
  display: unset;
}

.#{$prefix}fade {
  transition: all 300ms ease-in-out;
  transform: translateY(100%);
  opacity: 0;
}

.#{$prefix}show {
  transform: translateY(0);
  opacity: 1;
}

.#{$prefix}scroll {
  &::-webkit-scrollbar {
    width: 4px;
    opacity: 0.9;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0.9;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    opacity: 0.9;
    background: $scroll-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: $scroll-color;
    opacity: 0.9;
  }
}

.#{$prefix}shadow-1 {
  box-shadow: 0 4px 8px 0 rgba(124, 133, 157, 0.1);
  @include transition($nt-transition-base);
}

.#{$prefix}shadow-2 {
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  @include transition($nt-transition-base)
}

.#{$prefix}link {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

.#{$prefix}word-break {
  word-break: break-word;
}

.#{$prefix}font-bold {
  font-weight: bold;
}

.#{$prefix}border-radius {
  &-r-0 {
    border-radius: 4px 0 0 4px !important;
  }
  &-l-0 {
    border-radius: 0 4px 4px 0 !important;
  }
}

.#{$prefix}bg-tick {
  background-image: url("https://svgshare.com/i/89C.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
}

.#{$prefix}border-light-4 {
  border: solid 4px #fff;
}

.#{$prefix}justify-content-center {
  justify-content: center;
}

.#{$prefix}justify-content-space-between {
  justify-content: space-between;
}

.#{$prefix}align-items-center {
  align-items: center;
}

.#{$prefix}flex-1-1 {
  flex: 1 1;
}

.#{$prefix}flex-direction-column {
  flex-direction: column;
}


